

<!-- <div
class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
<div class="mr-md-auto ">
  <a href="#"><img src="../assets/webcomm.png" /></a>
</div>
</div> -->

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#"><img src="../assets/webcomm.png" /></a>
  <!-- <a class="navbar-brand" href="#">Logo</a> -->

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link"  [routerLink]="['/search']">Link 1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link 2</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link 3</a>
    </li>
  </ul>

</nav>

<!-- <app-case-req></app-case-req> -->
<router-outlet></router-outlet>
<!-- <app-case-insert></app-case-insert> -->
<footer class="pt-4 my-md-5 pt-md-5 border-top">
  <div class="row">
    <h2></h2>
    <div class="col-12 col-md">偉康科技股份有限公司 版權所有 © 2018 WebComm
      Technology Co., Ltd. All Rights Reserved.</div>
  </div>
</footer>
